.back-button {
  height: 55px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 15px;
  letter-spacing: 1px;
  border-radius: 0px;
  width: 100%;
  text-align: center;
  /* border-radius: 10px; */
  margin-top: 15px;
}

.back-button a {
  color: white;
  text-decoration: underline;
}

.back-button a:focus, .back-button a:hover {
  color: white;
}
 .ciad-button {
  height: 70px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 15px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  width: 100%;
  margin-top: 150px;
}
/* .ciad-button a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0px;
  padding: 15px 15px;
  text-align: center;
  font-weight: 500;
} */

.ciad-button a {
  height: 70px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0px;
  width: 100%;
}
/* line 13, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/ciad.css.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* .site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background:white;
  padding:40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
} */
/* header {
  text-align: center;
  height:50vh;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
} */
/* h1 {
  color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav li.logo {
  max-width: 500px;
}
.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
} */
.editing-container {
  margin-top: 80px;
}
/* line 4, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.header {
  font-size: 46px;
  text-align: center;
  font-weight: 700;
}

/* line 24, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.cover-photo {
  background-image: url("new-york.png");
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.9;
}

/* line 35, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication {
  margin-bottom: 250px;
}
/* line 37, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication .sign-in-button, .authentication .sign-up-button {
  text-align: center;
  margin-top: 150px;
}
/* line 41, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication #sign-in-form.show-form, .authentication #sign-up-form.show-form {
  text-align: center;
  margin-bottom: 100px;
}
/* line 45, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication #sign-in-form.hide-form, .authentication #sign-up-form.hide-form {
  visibility: hidden;
  height: 0px;
}

/* line 52, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.login-form, .register-form {
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* line 57, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.form-inputs {
  border: none;
}

/* line 62, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.form-inputs input#user_email, .form-inputs input#user_password, .form-inputs input#user_first_name,
.form-inputs input#user_last_name, .form-inputs input#user_email, .form-inputs input#user_first_name, .form-inputs input#user_username,
.form-inputs input#user_password, .form-inputs input#user_password_confirmation {
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin: 20px;
  width: 25%;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* line 74, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
input#user_profile_photo {
  font-size: 16px;
  margin: 20px;
  width: 25%;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* line 83, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
input#user_profile_photo[type=file] {
  margin: 0 auto;
}

/* line 87, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.home-text {
  background-color: #040404;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  padding: 45px 25px;
}

/* line 96, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.form-actions input {
  background-color: #202020;
  color: white;
  width: 25%;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

/* line 104, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.other {
  display: inline-block;
  color: black;
  font-size: 12px;
}

/* line 110, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.find-make-guide {
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWYnb4cXmmWfBCCr3qsjtLhgrucWCQmpBtNweDmsbypcz2jbkx');
  background-size: contain;
  background-repeat: no-repeat; */
  color: black;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 350px;
}

/* line 120, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.find-make-guide .ciad-button {
  margin-top: 125px;
}

/* line 123, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.ciad-button-border-left {
  border-right: 1px solid black;
  height: 350px;
}

/* line 127, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.ciad-button-border {
  height: 350px;
}

/*input#user_password {
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  margin: 22px;
  width: 25%;
  font-weight: 600;
}*/
/* line 140, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
}

/* line 144, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.trail {
  margin-bottom: 15px;
}

/* line 147, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.image {
  padding-bottom: 10px;
}

/* line 150, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.image .trail-user-name {
  font-weight: 300;
  font-size: 14px;
}

/* line 154, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.image img {
  max-width: 100%;
}

/* .image-container {
  height: 45vh;
  margin-bottom: 50px;
} */
/* .ciad-city-image {
  background-image: url('ciad-city.png');
  background-size: cover;
} */
/* line 167, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.trending-routes {
  margin-top: 85px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
}

/* line 175, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.adventure-builder {
  margin-top: 50px;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* line 181, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.display-more-trails {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*// .login-form {
//   text-align: center;
// }*/
/*.home .cover-photo {
  margin-top: 30px;
  background-image: url('new-york.png');
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home #text {
  background-color: #fff;
  color: #121212;
  border: 1px;
  border-radius: 40px;
  font-size: 20px;
  letter-spacing: .5em;
  line-height: 1em;
  padding: 1.5em 2.5em;
  text-align: center;
}

.home .featured-trails {
  margin: 200px 0 100px 0;
}

.home .featured-trails p {
  font-size: 1.5em;
  letter-spacing: .5em;
  line-height: 1em;
}

.home .trail-container {
  margin: 0 10%;
}

.home .trail-description {
  padding: 0% 5% 1% 5%;
}

.home .post {
  background-color: #ffffff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 9px;
  border-width: 1px;
  margin-bottom: 40px;
  padding: 25px 0 25px 0;
}

.home .post-close input {
  background-color: white;
  border: none;
}

.home .post-close input:active {
  background-color: #DDDDDD;
  box-shadow: 0 3px 0 #DDDDDD;
  outline: none;
}
input:focus {
  outline: none;
}

.home .post-close input:hover {
  background-color: #DDDDDD;
  border-radius: 5px;
}

.home .image img {
  max-width: 100%;
  height: 100%;
}

.home .form {
  background-color: white;
  margin-top: 100px;
  padding: 100px 0;
}

.home .form h1 {
  width: 35%;
  margin: auto;
  background-color: black;
  padding: 0.86363%;
  text-align: center;
}

#bootstrap-overrides .home .form h1 a {
  text-transform: uppercase;
  color: white;
}

.home .about-us {
  margin-top: 50px;
}

/*

#bootstrap-overrides .home .trail-description {
  height: 250px;
  max-width: auto;
}

#bootstrap-overrides .home .col-md-12.form a {
  color: white;
}

.home .form {
  background-color: #EFEFEF;
  margin-top: 100px;
  padding: 100px 0;
}

.home .form h1 {
  width: 35%;
  margin: auto;
  background-color: black;
  padding: 0.86363%;
}

.home .form h1 a {
  font-size: 15px;
  text-transform: uppercase;
}

.home .about-us {
  margin: 60px 20px;
}
*/
.locations {
  margin-top: 150px;
}
div.input.string.optional.location_location,
div.input.string.optional.location_description,
div.input.string.optional.location_price {
  margin-top: 20px;
}

label {
  color: #4A4A4A;
  font-size: 26px;
}

.new-location {
  background-color: transparent;
  border: 0;
  padding-top: 10px;
  color: #083F46;
  font-size: 26px;
  outline: 0;
  text-align: left;
  width: 100%;
}

.new-location input {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #4A4A4A;
}

.new-location .button {
  padding: 20px 20px;
}

.new-location .button input {
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
  font-size: 15px;
  color: black;
  padding: 20px 20px 20px 20px;
}
.trail-button {
  margin-top: 50px;
}
.trail-button a {
  padding-top: 30px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  color: black;
  padding: 20px 20px 20px 20px;
}

#map {
  height: 240px;
  width: 90%;
}

.controls {
  margin-top: 30px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}
.location-list-items {
  margin-top: 100px;
}
.complete-location {
  background-color: #e5e5e5;
  margin: 10px 0;
  /*margin-bottom: 20px;*/
  /*border: 1px solid #4A4A4A;*/
  border-radius: 4px;
}

ul.location-list-items {
  padding-left: 15px;
}
.complete-location li {
  list-style: none;
}

@media screen and (max-width: 991px) {
  #location-form {
    margin-top: 70px;
  }
}
.new-trail {
  margin-top: 150px;
}

label {
  padding-right: 1%;
}

.new-trail #trail_name,
.new-trail #trail_mood,
.new-trail #trail_trail_photo {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #4A4A4A;
  padding-top: 20px;
  background-color: white;
  font-size: 15px;
  width: 25%;
}
.new-trail #trail_mood {
  margin-top: 20px;
}

.new-trail #trail_trail_photo {
  display: inline-block;
  border: 0;
  padding: 20px 20px;
}
.new-trail input#trail_name,
.new-trail select#trail_mood {
  font-size: 20px;
  padding-left: 5px;
}
.new-trail .button input {
  border-radius: 50px;
  background-color: white;
  border: 1px solid black;
  padding: 20px 20px;
}
.profile .container {
  margin-top: 100px;
}

.profile-picture img {
  max-height: 150px;
  max-width: 160px;
  margin: 0;
}

.profile .info p {
  margin: 0px;
}

.user-information h3,
.user-information h5,
.user-information .col-md-6,
.user-information .col-md-8,
.profile .image.col-md-12,
.user-information .col-md-3 {
  margin: 0;
  padding: 0;
}

.user-information h3 {
  margin-bottom: 10px;
  display: inline-block;
}

.user-trail {
  margin-top: 40px;
}

.profile .image img {
  width: auto;
  height: 250px;
}

.profile .image {
  height: 250px;
  width: 400px;
  overflow: hidden;
}

.profile .col-md-4.img-thumbnail {
  margin: 20px 0;
}
.follow-button {
  display: inline-block;
  vertical-align: text-bottom;
}

.profile .follow-button input {

}

/*
.profile-header {
  margin-top: 65px;
}

.user-header {
  font-size: 20px;
  float:none;
  margin-left: 500px;
  padding-top: 20px;
}

.name {
  display: inline-block;
}

.edit-profile a {
  display: inline-block;
}

.change-password a {
  display: inline-block;
}

.following {
  display: inline-block;
}

.followers {
  display: inline-block;
}

.profile-picture img {
  height: 125px;
  width: 150px;
  left: 200px;
  margin-top: 15px;
  position: absolute;
}

.user-images {
  display: inline-block;
  margin-left: 200px;
  align-self: auto;
}
*/
.search-feature {
    margin-top: 150px;
    margin-bottom: 150px;
}
.search-feature input {
    width: 25%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 22px;
    height: 50px;
    margin-right: 25px;
}

.search-feature .ciad-button button {
    border: none;
    background-color: black;
}

.search-feature .ciad-button {
    padding: 12.5px 10px;
}
/*img {
  position: relative;
  margin-top: 40px;
  height: 700px;
  width: 100%;
  z-index: 0;
}*/

.sign-in-container {
  color: white;
  width: 500px;
  min-height: 500px;
  background-color: #34495e;
  margin: 0 auto;
  border-radius: 4px;
  opacity: 0.9;
  text-align: center;
}

.sign-in-container .login {
  font-size: 40px;
  padding-top: 30px;
}

.sign-in-container input {
  height: 55px;
  width: 275px;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  color: black;
}

.sign-in-container input#user_profile_photo {
  display: inline-block;
}
.sign-in-container label {
  color: transparent;
}

.sign-in-container .other {
  padding: 15px
}
.sign-in-container .other a {
  color: black;
  text-decoration: none;
}
trail-show.css

.number-of-location {
  /*border-radius: 100%;
  border: 2px solid black;*/
  /*width: 100px;
  height: 100px;*/
}

.circle-container {
  text-align: center;
  margin-top: 50px;
}
.number-of-location {
  /*height: 100px;
  width: 100px;*/
  border-radius: 60%;
  border: 2.5px solid black;
  display: inline-block;
  margin: 5px 0px;
  padding: 30px 35px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  /*display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid black;*/
}

.trail-info, .trail-location {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}

.bottom-line {
  width: 25%;
  border-bottom: 1px solid black;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  margin-left: 38%;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
