 .ciad-button {
  height: 70px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 15px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  width: 100%;
  margin-top: 150px;
}
/* .ciad-button a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0px;
  padding: 15px 15px;
  text-align: center;
  font-weight: 500;
} */

.ciad-button a {
  height: 70px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 0px;
  width: 100%;
}
