/* line 4, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.header {
  font-size: 46px;
  text-align: center;
  font-weight: 700;
}

/* line 24, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.cover-photo {
  background-image: url("new-york.png");
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.9;
}

/* line 35, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication {
  margin-bottom: 250px;
}
/* line 37, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication .sign-in-button, .authentication .sign-up-button {
  text-align: center;
  margin-top: 150px;
}
/* line 41, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication #sign-in-form.show-form, .authentication #sign-up-form.show-form {
  text-align: center;
  margin-bottom: 100px;
}
/* line 45, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.authentication #sign-in-form.hide-form, .authentication #sign-up-form.hide-form {
  visibility: hidden;
  height: 0px;
}

/* line 52, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.login-form, .register-form {
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* line 57, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.form-inputs {
  border: none;
}

/* line 62, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.form-inputs input#user_email, .form-inputs input#user_password, .form-inputs input#user_first_name,
.form-inputs input#user_last_name, .form-inputs input#user_email, .form-inputs input#user_first_name, .form-inputs input#user_username,
.form-inputs input#user_password, .form-inputs input#user_password_confirmation {
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  margin: 20px;
  width: 25%;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* line 74, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
input#user_profile_photo {
  font-size: 16px;
  margin: 20px;
  width: 25%;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* line 83, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
input#user_profile_photo[type=file] {
  margin: 0 auto;
}

/* line 87, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.home-text {
  background-color: #040404;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  padding: 45px 25px;
}

/* line 96, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.form-actions input {
  background-color: #202020;
  color: white;
  width: 25%;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

/* line 104, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.other {
  display: inline-block;
  color: black;
  font-size: 12px;
}

/* line 110, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.find-make-guide {
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWYnb4cXmmWfBCCr3qsjtLhgrucWCQmpBtNweDmsbypcz2jbkx');
  background-size: contain;
  background-repeat: no-repeat; */
  color: black;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 350px;
}

/* line 120, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.find-make-guide .ciad-button {
  margin-top: 125px;
}

/* line 123, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.ciad-button-border-left {
  border-right: 1px solid black;
  height: 350px;
}

/* line 127, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.ciad-button-border {
  height: 350px;
}

/*input#user_password {
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  margin: 22px;
  width: 25%;
  font-weight: 600;
}*/
/* line 140, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
}

/* line 144, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.trail {
  margin-bottom: 15px;
}

/* line 147, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.image {
  padding-bottom: 10px;
}

/* line 150, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.image .trail-user-name {
  font-weight: 300;
  font-size: 14px;
}

/* line 154, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.image img {
  max-width: 100%;
}

/* .image-container {
  height: 45vh;
  margin-bottom: 50px;
} */
/* .ciad-city-image {
  background-image: url('ciad-city.png');
  background-size: cover;
} */
/* line 167, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.trending-routes {
  margin-top: 85px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
}

/* line 175, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.adventure-builder {
  margin-top: 50px;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* line 181, /Users/Isaac/challenges/breakable-toy/city-in-a-day/app/assets/stylesheets/home.css.scss */
.display-more-trails {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*// .login-form {
//   text-align: center;
// }*/
/*.home .cover-photo {
  margin-top: 30px;
  background-image: url('new-york.png');
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home #text {
  background-color: #fff;
  color: #121212;
  border: 1px;
  border-radius: 40px;
  font-size: 20px;
  letter-spacing: .5em;
  line-height: 1em;
  padding: 1.5em 2.5em;
  text-align: center;
}

.home .featured-trails {
  margin: 200px 0 100px 0;
}

.home .featured-trails p {
  font-size: 1.5em;
  letter-spacing: .5em;
  line-height: 1em;
}

.home .trail-container {
  margin: 0 10%;
}

.home .trail-description {
  padding: 0% 5% 1% 5%;
}

.home .post {
  background-color: #ffffff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 9px;
  border-width: 1px;
  margin-bottom: 40px;
  padding: 25px 0 25px 0;
}

.home .post-close input {
  background-color: white;
  border: none;
}

.home .post-close input:active {
  background-color: #DDDDDD;
  box-shadow: 0 3px 0 #DDDDDD;
  outline: none;
}
input:focus {
  outline: none;
}

.home .post-close input:hover {
  background-color: #DDDDDD;
  border-radius: 5px;
}

.home .image img {
  max-width: 100%;
  height: 100%;
}

.home .form {
  background-color: white;
  margin-top: 100px;
  padding: 100px 0;
}

.home .form h1 {
  width: 35%;
  margin: auto;
  background-color: black;
  padding: 0.86363%;
  text-align: center;
}

#bootstrap-overrides .home .form h1 a {
  text-transform: uppercase;
  color: white;
}

.home .about-us {
  margin-top: 50px;
}

/*

#bootstrap-overrides .home .trail-description {
  height: 250px;
  max-width: auto;
}

#bootstrap-overrides .home .col-md-12.form a {
  color: white;
}

.home .form {
  background-color: #EFEFEF;
  margin-top: 100px;
  padding: 100px 0;
}

.home .form h1 {
  width: 35%;
  margin: auto;
  background-color: black;
  padding: 0.86363%;
}

.home .form h1 a {
  font-size: 15px;
  text-transform: uppercase;
}

.home .about-us {
  margin: 60px 20px;
}
*/
