/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body#bootstrap-overrides {
  font-family: 'Open Sans', sans-serif;
}*/

body#bootstrap-overrides a {
  color: black;
}

body {
 font-size: 62.5%;
 padding-top: 80px;
}

nav.navbar {
  background: white;
  border: none;
}
.navbar {
  box-shadow: 0 .5px .03px;
  line-height: 2em;
  padding: 0 1.5625%;
}
nav.navbar.navbar-default {
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
}

.navbar-brand a {
  font-size: 20px;
}

.alert-box, .error_msgs {
  position: absolute;
  top: -100px;
  right: 50px;
  width: 30%;
  height: 50px;
  background-color: #A2E3C4;
  border-radius: 8px;
  /*transition: 0s 1.5s all ease-in-out;*/
  box-shadow: 1px 1px 5px #888888;
  z-index: 10px;
  animation-name: animating-error-messages;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.alert-box p, .error_msgs p {
  margin: auto;
  padding: 10px 5px;
}

@keyframes animating-error-messages {
  from {top: -100px;}
  to {top: 80px;}
}
/*
.alert-box1 {
    width: 100%;
    height: 50px;
    font-size: 18px;
    left: 0;
    bottom: 0;
    background-color: #A2E3C4;
    position: fixed;
    -webkit-transition-property: width height background-color font-size left top transform -webkit-transform color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width height background-color font-size left top transform -webkit-transformv color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}*/
