/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  margin: 0px;
}
body {
  margin: 0px;
}
#header .top-bar {
  box-shadow: 0 1px 3px
}

.top-bar {
  z-index: 1000;
  padding-left: 20px;
  height: 70px;
  background: #fff;
  overflow: visible;
  line-height: 3.54rem;
  margin-bottom: 0;
  position: relative;
}

.top-bar a {
  font-family: helvetica, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 70px;
  color: #42464c;
}

.cover-photo img {
  position: relative;
  height: 500px;
  width: 100%;
  z-index: 0;
}

#text {
  z-index: 100;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 500px;
  top: 250px;
  font-family: helvetica;
}

.button p {
  z-index: 100;
  position: absolute;
  margin: auto;
  width: 25%;
  background-color: white;
  text-align: center;
  font-family: "Raleway";
  padding: 10px;
  top: 450px;
  left: 400px;
  border-radius: 3px;
}

.button p a {
  color: gray;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: 500;
}
