.back-button {
  height: 55px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 15px;
  letter-spacing: 1px;
  border-radius: 0px;
  width: 100%;
  text-align: center;
  /* border-radius: 10px; */
  margin-top: 15px;
}

.back-button a {
  color: white;
  text-decoration: underline;
}

.back-button a:focus, .back-button a:hover {
  color: white;
}
