.footer, .push {
  height: 40px; /* .push must be the same height as .footer */
}
.footer {
  background-color: black;
  height: 40px;
  width: 100%;
  position: fixed;
}

.footer p {
  color: white;
  text-align: center;
  padding-top: 125px;
}

/*
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height
}
.footer {
position:absolute;
bottom:0;
width:100%;
height: 15em;
background-color: black;
}

.footer {
  clear: both;
  position: relative;
  height: 15em;
  margin-top: -3em;
  background-color: black;
  text-align: center;
  margin-top: 100px;
}

.footer p {
  padding-top: 125px;
  color: white;
}
*/
