.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 15em;
  margin-top: -3em;
  background-color: black;
  text-align: center;
}

.footer p {
  padding-top: 125px;
  color: white;
}
