html {
  margin-bottom: 0px;
}

.cover-photo {
  margin-top: 30px;
  background-image: url('new-york.png');
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  background-color: #fff;
  color: #121212;
  border: 1px;
  border-radius: 40px;
  font-family: Gotham SSm, sans-serif;
  font-size: 20px;
  letter-spacing: .5em;
  line-height: 1em;
  padding: 1.5em 2.5em;
  text-align: center;
}

/*
@media screen and (max-width:760px){
  #text{
    color: green;
    /*
    change either font-size or change the size of button

  }
}
*/


.featured-trails {
  margin-top: 100px;
}

.featured-trails p {
  font-family: sans-serif;
  font-size: 1.5em;
  letter-spacing: .5em;
  line-height: 1em;
}

.col-md-4 img {
  height: 350px;
  max-width: 386.66px;
  border-radius: 50%;
}

/*
.image {
  display: inline-block;
  margin-left: 200px;
  align-self: auto;
}


.image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block;
}

.image .name a {
  text-align: center;
}
*/
.form {
  background-color: #EFEFEF;
  margin-top: 100px;
  padding: 100px 0;
}

.form h1 {
  margin: auto;
  width: 35%;
  background-color: black;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  padding: 0.86363%;
}

.form h1 a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .4px;
}

.about-us {
  margin: 60px 20px;
}
/*
#about-us .container h2 {
  width: 45%;
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: "Raleway";
  font-size: 32px;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
}

.video .container {
  margin-left: 20px;
  width: 50%;
  display: inline-block;
}

.about-us-text {
  width: 40%;
  margin-top: 140px;
  margin-right: 50px;
  text-align: center;
  font-family: "Raleway";
  font-size: 32px;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;

  float: right;
}
*/
