.profile-container {
  margin-top: 80px;
  background-color: #ecf0f1;
}

.user-header {
  font-size: 20px;
  float:none;
  margin-left: 500px;
  padding-top: 20px;
  width: 15%;
}

.picture img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 200px;
  margin-top: 20px;
  position: absolute;
}
