.profile-header {
  margin-top: 65px;
}

.user-header {
  font-size: 20px;
  float:none;
  margin-left: 500px;
  padding-top: 20px;
}

.name {
  display: inline-block;
}

.edit-profile a {
  display: inline-block;
}

.change-password a {
  display: inline-block;
}

.following {
  display: inline-block;
}

.followers {
  display: inline-block;
}

.profile-picture img {
  height: 125px;
  width: 150px;
  left: 200px;
  margin-top: 15px;
  position: absolute;
}

.user-images {
  display: inline-block;
  margin-left: 200px;
  align-self: auto;
}
