.trail-container {
  margin-top: 150px;
}

.trail-container .col-md-8 h4,
.trail-container .col-md-8 h3,
.trail-container .col-xs-8 h4
.trail-container .col-md-8 h3 {
  margin: 0px;
}

.trail-image img {
  margin: 0px;
  height: 200px;
  min-width: 100%;
}

.trail-image {
  max-width: auto;
  height: 200px;
}

.comment-container {
  border-top: 0.5px solid gray;
  margin-top: 20px;
  float: left;
}
