<div class="locations">
  <ul></ul>
</div>
do you see this?
<!-- <div class="trail-button">
  <%= link_to 'Edit Trail', trail_path(@trail) %>
</div>
<%= render 'form' %> -->

  <div id="app"></div>
  <%= render 'form' %>
