<div class="container-fluid">
  <div class="locations">
    <div class=".col-md-12 col-xs-12 text-center">
      <ul>

      </ul>
    </div>
  </div>
</div>
<div id="app">
</div>
<div id="stop-location-form">
  <%= render 'form' %>
</div>
